/* zakirah */
*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
}

#banner{
    background-color: #D0AAE8;
    background-size: cover;
    background-position: center;
    height:100vh;
}

.banner-text{
text-align: center;
color: #493240;
padding-top: 180px;
}

.banner-btn{
    margin-top: 12px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: rgb(0, 0, 0);
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s; 
    background-color: #F6BD60;
}

.banner-btn a span{
    width: 0px;
    height: 100%; 
    top: 0;
    left: 0;
    position: absolute;
    background: #FBD3E9 ;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width:100%;
}

.banner-btn a:hover{
    background:#fffffe;
}

.logo
{ 
    margin-top: 15px;
    margin-left: 21px;
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
}

.rectangle {
    height: 30px;
    width: 67%;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    margin-left: 25px;
    position:absolute;
    top:0;
    left:28%;
    z-index: 1;
  }

.rectangle p{
    margin-top: 2px;
    text-align: left;
}

.shortd{
    text-align: 20%;
    margin-top: 12px;
    margin-right: 12px;
    position:absolute;
    top:0;
    right:0;
    z-index: 1;
}

.submitbutton{
    height: 26px;
    margin-top: 2px;
    margin-right: 14px;
    position:absolute;
    top:0;
    right:0; 
    z-index: 1;
    width: 59px;
    background-color: #F5CAC3;
}

.listfood{
    /* height: 445px; */
    height: 70%;
    width: 67%;
    background-color: rgb(255, 255, 255);
    margin-top: 135px;
    margin-left: 25px;
    position:absolute;
    top:0;
    left:28%;
    z-index: 1;
    border-radius: 15px; 
}

.foodphoto{
    height: 87%;
    margin-top: 35px;
    margin-left: 0px;
    position:absolute;
    top:0;
    left: 4%;
    z-index: 1;
    border-radius: 4px;
    /* padding: 5px;*/
    width: 24%;
}

.food{
    height: 140px;
    margin-top: 35px;
    margin-right: 0px;
    position:absolute;
    top:0;
    right: 4%;
    z-index: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 65%;
    background-color: #fde0dc83;
}

.detmapbutton{
    margin-top: 100px;
    margin-right: 20px;
    position:absolute;
    top:0;
    right:0;
}

.detmapbutton a{
    width: 100px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 2px 0;
    color: rgb(0, 0, 0);
    border: .5px solid rgb(3, 2, 2);
    position: relative;
    z-index: 1;
    transition: color 0.5s; 
    text-align: center;
    background-color: #F6BD60;
}

.detmapbutton a span{
    width: 0px;
    height: 100%; 
    top: 0;
    left: 0;
    position: absolute;
    background: #FBD3E9 ;
    z-index: -1;
    transition: 0.5s;
}

.detmapbutton a:hover span{
    width:100%;
}

.detmapbutton a:hover{
    background:#fffffe;
} 

.a{
    text-align: right;
}

h10{
    font-size: small;
    color: #0000008f;
    padding-right: 4%;
}

h11{
    font-size: small;
    color: #ffffff;
}

h6{
    padding-left: 10px;
}

.bottombutton{
    height: 30px;
    width: 70%;
    position:absolute;
    bottom: 8px;;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.btn{
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 25px;
	cursor: pointer;
}

.btn3{
	border: none;
	color: rgb(255, 249, 249);
	padding: 1px 16px;
	font-size: 20px;
	cursor: pointer;
}
/* zakirah */

/* aina jinnie */

.expiredDate
{
    margin-top: 120px;
    margin-left: 15px;
    position:absolute;
    top:20px;
    left:0;
    height: 80px;
    width: 25%;
    background-color: #F6E8FF;
    z-index: 1;
    border-radius: 15px;
}

.currentLot
{
    margin-top: 220px;
    margin-left: 15px;
    position:absolute;
    top:20px;
    left:0;
    height: 130px;
    width: 25%;
    background-color: #F6E8FF;
    z-index: 1;
    border-radius: 15px;
}

.categories
{
    margin-top: 370px;
    margin-left: 15px;
    position:absolute;
    top:20px;
    left:0;
    height: 250px;
    width: 25%;
    background-color: #F6E8FF;
    z-index: 1;
    border-radius: 15px;
    float: left;
}
.categories2
{
    margin-top: 410px;
    margin-left: 190px;
    position:absolute;
    top:20px;
    left:0;
    height: 200px;
    width: 10%;
    background-color: #F6E8FF;
    z-index: 1;
    border-radius: 15px;
    float: left;
}



/* aina jinnie */

/* aqi */
.descript
{
    margin-top: 120px;
    margin-right: 50px;
    position:absolute;
    top:20px;
    right:0;
    height: 500px;
    width: 67%;
    border-radius: 15px;
    background-color: #F6E8FF;
    z-index: 1;
}

.post
{
    height: 30px;
    /* width: 5%; */
    background-color: rgb(201, 109, 178);
    margin-top: 600px;
    margin-right: 80px;
    position:absolute;
    top:0;
    right:0;
    z-index: 1;
}
/* aqi */

/* aisyah */

.place
{
    margin-top: 120px;
    margin-left: 15px;
    position:absolute;
    top:20px;
    left:0;
    height: 70px;
    width: 25%;
    background-color: #F6E8FF;
    /* z-index: 1; */
    border-radius: 15px;
}

.distance
{
    margin-top: 220px;
    margin-left: 15px;
    position:absolute;
    top:20px;
    left:0;
    height: 70px;
    width: 25%;
    background-color: #F6E8FF;
    /* z-index: 1; */
    border-radius: 15px;
}

.location
{
    margin-top: 320px;
    margin-left: 15px;
    position:absolute;
    top:20px;
    left:0;
    height: 200px;
    width: 25%;
    background-color: #F6E8FF;
    /* z-index: 1; */
    border-radius: 15px;
}

/* aisyah */

/* popup */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }